@import "tailwindcss";

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url();
}
/* @layer utilities {
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradientShift 8s ease infinite;
  }

  @keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
} */

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: #000;
}