@import "tailwindcss";

@font-face {
  font-family: "montesserat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "bella";
  src: url("/fonts/Bella-yw64Z.ttf");
}

@layer utilities {
  .font-montesserat {
      font-family: "Montesserat", sans-serif;
  }

  .font-bella {
      font-family: "Bella", sans-serif;
  }
}

/* @layer utilities {
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradientShift 8s ease infinite;
  }

  @keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
} */

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: #120e0e;
}